// ---Credit will be given in comments if borrowed code appears---
$primary: #7f54b3;
$secondary: #a2a2a2;
$primaryAlt1: #149414;
$secondaryAlt1: #006400;
$primaryAlt2: #dedede;
$secondaryAlt2: #000080;

