// ---Credit will be given in comments if borrowed code appears---
$primary: #7f54b3;
$secondary: #4caf50;
$primaryAlt2: #f0f0f0;
$secondaryAlt2: #000080;
$tertiary: #a2a2a2;
$primaryAlt1: #ede7f2;
$secondaryAlt1: #006400;
